@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <img src="Imagem/ExpressBite.png" alt="logomarca" width="300px"/>
    <h6>Você pode criar seu próprio lanche personalizado, escolhendo entre uma variedade de ingredientes deliciosos!</h6>
    <h6>
        Nossa ferramenta fácil de usar permite que você selecione os ingredientes que você gosta e visualize sua criação em tempo real.
        Além disso, você pode salvar seus lanches favoritos e acessá-los novamente quando quiser. 
    </h6>
    <h3>Comece a montar seu lanche agora e descubra novas combinações de sabores!</h3>
</div>
